<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shooter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shooter.Properties.Settings>
            <setting name="player1_left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player1_right" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player1_up" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player1_down" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player1_action" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player1_interact" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player2_left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player2_right" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player2_up" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player2_down" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player2_action" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player2_interact" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player3_left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player3_right" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player3_up" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player3_down" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player3_action" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player3_interact" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player4_left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player4_right" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player4_up" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player4_down" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player4_action" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="player4_interact" serializeAs="String">
                <value>0</value>
            </setting>
        </Shooter.Properties.Settings>
    </userSettings>
</configuration>